<!DOCTYPE html>
<html>
<head>
	<title>Index 3</title>
	<style type="text/css">
		.content{
			width: 600px;
			margin: 0 auto;
		}
		.desc{
			font-size: 16px;
			margin-top: 30px;
		}
	</style>
</head>
<body>
<div class="content">
	<h1>
		Cực nóng: Pogba nhiễm Covid-19 phải rời ĐT Pháp, MU hoang mang
	</h1>
	<div><i>Thứ Năm, ngày 27/08/2020 20:23 PM (GMT+7)</i></div>
	<div class="desc">
		<b>Ngôi sao của ĐT Pháp, Paul Pogba đã buộc phải rời khỏi ĐT Pháp sau khi dương tính với Covid-19. Đây là một thông tin rất sốc dành cho người hâm mộ Man United trước mùa giải mới.</b>
	</div>
	<div class="content_news">
		<p>
			Tiền vệ của Man United, Paul Pogba đã bị rút khỏi danh sách tập trung cùng ĐT Pháp sau khi xét nghiệm dương tính với Covid-19. Ngôi sao 27 tuổi sẽ bỏ lỡ cuộc đối đầu trước Thụy Điển vào ngày 5/9 và Croatia vào ngày 8/9. Người thay thế cho vị trí mà Pogba để lại sẽ là tiền vệ Eduardo Camavinga của Rennes.
		</p>
		<center>
			<img width="100%" src="../images/pogba.jpg">
			<span>Pogba nhiễm Covid-19 khi vừa lên tập trung cùng ĐT Pháp</span>
		</center>
		<p>
			Tiền vệ của Man United, Paul Pogba đã bị rút khỏi danh sách tập trung cùng ĐT Pháp sau khi xét nghiệm dương tính với Covid-19. Ngôi sao 27 tuổi sẽ bỏ lỡ cuộc đối đầu trước Thụy Điển vào ngày 5/9 và Croatia vào ngày 8/9. Người thay thế cho vị trí mà Pogba để lại sẽ là tiền vệ Eduardo Camavinga của Rennes.
		</p>
		<center>
			<img width="100%" src="../images/pogba.jpg">
			<span>Pogba nhiễm Covid-19 khi vừa lên tập trung cùng ĐT Pháp</span>
		</center>
		<p>
			Đây là một tin rất sốc với người hâm mộ đội chủ sân Old Trafford. Thầy trò HLV Ole Gunnar Solskjaer sẽ trở lại tập luyện từ thứ 4 tuần sau. Tuy nhiên, họ sẽ thiếu vắng hậu vệ Aaron Wan-Bissaka khi cầu thủ này phải trải qua đợt cách ly 14 ngày bởi kỳ nghỉ tại Dubai.
		</p>
		<p>
			Mới đây, đội trưởng của MU, Harry Maguire đã bị kết tội tấn công cảnh sát Hy Lạp và phải đối mặt với một bản án lơ lửng của tòa án quốc gia này. Trong khi đó, tình hình chuyển nhượng của "Quỷ Đỏ" cũng đang rất bế tắc khi họ chưa thể công bố tân binh đáng chú ý nào trong mùa hè năm nay. Rõ ràng, sự chuẩn bị trước mùa giải của MU đang thực sự gặp những vấn đề lớn.
		</p>
	</div>
</div>
</body>
</html>